In [1]:
# Other libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer # For extracting n-grams from a sentence
import spacy
import spacy_transformers
from sentence_transformers import util

In [2]:
input_list = [
    "For United Kingdom, Item Type with the highest Total Revenue", 
    "Country with the highest monthly percentage decline in Total Profit in the last 3 months"
]

In [3]:
# !python -m spacy download en_core_web_trf
nlp = spacy.load("en_core_web_trf")

In [7]:
word = "sales"

# word_split = word.split("_")

# for split_word in word_split:
for token in nlp(word):
    print(f"{token.text} -> {token.pos_} -> {token.ent_iob_} -> {token.ent_type_}")

sales -> NOUN -> O ->

In [15]:
for i in range(len(input_list)):
    for token in nlp(input_list[i]):
        # if token.pos_ == "NOUN":
        print(f"{token.text} -> {token.pos_} -> {token.ent_type_}")
    print("---------")

# example = "To take us through this results of the quarter and answer your question, we have with us the from the top \
# Management of Heranba, Mr. R. K. Shetty - Managing Director; Mr. Raunak Shetty - Executive Director, and \
# Mr. Raj Kumar Bafna - Chief Financial Officer."

# for token_ent in nlp(input_list[0]).ents:
#     print(f"{token_ent.text} -> {token_ent.label_}")

For -> ADP ->

AttributeError: 'spacy.tokens.token.Token' object has no attribute 'tensors'

In [25]:
import spacy_transformers
from sentence_transformers import util


for token in nlp.pipe([input_list[0]]):
    a = token._.trf_data.tensors[-1]

for token in nlp.pipe([input_list[1]]):
    b = token._.trf_data.tensors[-1]
    
print(util.cos_sim(a, b).numpy())

[[0.9728014]]

In [5]:
# Infer numbers using POS tags for conversion to character strings
corpus_tokens = nlp(input_list[1])
print('tokens', corpus_tokens)
col_names = ['Text', 'POS', 'ENT']
output_df = pd.DataFrame([], columns = col_names)

for token in corpus_tokens:
    inlist = pd.DataFrame([[token.text, token.pos_, token.ent_type_]], columns=col_names)
    output_df = pd.concat([output_df, inlist], ignore_index=True)

output_df

tokens Country with the highest monthly percentage decline in Total Profit in the last 3 months

          Text    POS   ENT
0      Country   NOUN
1         with    ADP
2          the    DET
3      highest    ADJ
4      monthly    ADJ  DATE
5   percentage   NOUN
6      decline   NOUN
7           in    ADP
8        Total    ADJ   ORG
9       Profit  PROPN   ORG
10          in    ADP
11         the    DET  DATE
12        last    ADJ  DATE
13           3    NUM  DATE
14      months   NOUN  DATE

# ----------------------------------------------------------------------------------------

In [19]:
data = pd.read_excel("../../../datasets/ALKEM REPORT.xlsx")

In [20]:
data.columns

Index(['DIVISION', 'GEOGRAPHY', 'MARKET', 'BRANDS', 'COMPANY', 'LAUNCH DATE',
       'CAGR % SEP 19', 'EVOLUTION INDEX SEP 19', 'RANK MAT SEP 15',
       'RANK MAT SEP 16', 'RANK MAT SEP 17', 'RANK MAT SEP 18',
       'RANK MAT SEP 19', 'VAL MAT SEP 15', 'VAL MAT SEP 16', 'VAL MAT SEP 17',
       'VAL MAT SEP 18', 'VAL MAT SEP 19', 'VAL MS% MAT SEP 15',
       'VAL MS% MAT SEP 16', 'VAL MS% MAT SEP 17', 'VAL MS% MAT SEP 18',
       'VAL MS% MAT SEP 19', 'VAL GR% MAT SEP 16', 'VAL GR% MAT SEP 17',
       'VAL GR% MAT SEP 18', 'VAL GR% MAT SEP 19'],
      dtype='object')

In [24]:
word = "Brands"
for token in nlp(word):
    print(token.ent_type_)

/home/aum/Desktop/projects/nlp/nlp_env/lib/python3.9/site-packages/torch/autocast_mode.py:141: UserWarning: User provided device_type of 'cuda', but CUDA is not available. Disabling
  warnings.warn('User provided device_type of \'cuda\', but CUDA is not available. Disabling')

In [23]:
for word in data.columns:
    for token in nlp(word):
        print(f"{token.text} -> {token.ent_iob_} -> {token.ent_type_}")
    print('----')

DIVISION -> O ->
----
GEOGRAPHY -> O ->
----
MARKET -> O ->
----
BRANDS -> O ->
----
COMPANY -> O ->
----
LAUNCH -> O ->
DATE -> O ->
----
CAGR -> O ->
% -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----
EVOLUTION -> O ->
INDEX -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----
RANK -> O ->
MAT -> O ->
SEP -> O ->
15 -> B -> CARDINAL
----
RANK -> O ->
MAT -> O ->
SEP -> O ->
16 -> B -> CARDINAL
----
RANK -> O ->
MAT -> O ->
SEP -> O ->
17 -> B -> CARDINAL
----
RANK -> O ->
MAT -> O ->
SEP -> O ->
18 -> B -> CARDINAL
----
RANK -> O ->
MAT -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----
VAL -> O ->
MAT -> O ->
SEP -> O ->
15 -> B -> CARDINAL
----
VAL -> O ->
MAT -> O ->
SEP -> O ->
16 -> B -> CARDINAL
----
VAL -> O ->
MAT -> O ->
SEP -> O ->
17 -> B -> CARDINAL
----
VAL -> O ->
MAT -> O ->
SEP -> O ->
18 -> B -> CARDINAL
----
VAL -> O ->
MAT -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----
VAL -> O ->
MS% -> O ->
MAT -> O ->
SEP -> O ->
15 -> B -> CARDINAL
----
VAL -> O ->
MS% -> O ->
MAT -> O ->
SEP -> O ->
16 -> B -> CARDINAL
----
VAL -> O ->
MS% -> O ->
MAT -> O ->
SEP -> O ->
17 -> B -> CARDINAL
----
VAL -> O ->
MS% -> O ->
MAT -> O ->
SEP -> O ->
18 -> B -> CARDINAL
----
VAL -> O ->
MS% -> O ->
MAT -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----
VAL -> O ->
GR% -> O ->
MAT -> O ->
SEP -> O ->
16 -> B -> CARDINAL
----
VAL -> O ->
GR% -> O ->
MAT -> O ->
SEP -> O ->
17 -> B -> CARDINAL
----
VAL -> O ->
GR% -> O ->
MAT -> O ->
SEP -> O ->
18 -> B -> CARDINAL
----
VAL -> O ->
GR% -> O ->
MAT -> O ->
SEP -> O ->
19 -> B -> CARDINAL
----

In [ ]:
# Check BERT Embeddings